---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Link from '../components/Link';
---

<Layout>
  <div class="flex justify-center pt-10">
    <div class="w-full max-w-sm">
      <Hero/>
      <ul>
        <Link to="https://lab.hallee.me/pwin">
          程序员的婚礼邀请函
        </Link>
        <Link to="/baojiang">
          表情包浆
        </Link>
      </ul>
    </div>
  </div>
</Layout>
